<a href="https://colab.research.google.com/github/jsh-lab/python_programming/blob/main/10%EC%A3%BC%EC%B0%A8_class_%EC%A0%95%EC%83%81%ED%9B%88(2024186854).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
result = 0

def adder(num):
    global result
    result += num
    return result

print(adder(3))
print(adder(4))
print(adder(5))

3
7
12

In [16]:
result1 = 0
result2 = 0

def adder1(num):
    global result1
    result1 += num
    return result1

def adder2(num):
    global result2
    result2 += num
    return result2

print(adder1(3))
print(adder1(4))
print(adder2(3))
print(adder2(7))

3
7
3
10

In [17]:
class Calculator:
    def __init__(self):
        self.result = 0

    def adder(self, num):
        self.result += num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.adder(3))
print(cal1.adder(4))
print(cal2.adder(3))
print(cal2.adder(7))

3
7
3
10

In [18]:
class Service:
    secret = "지구는 4006년에 멸망한다."

an = Service()

an.secret

'지구는 4006년에 멸망한다.'

In [19]:
Service.secret = '지구가 4006년에 멸망한다는 사실은 뻥이다.'

print(an.secret)

지구가 4006년에 멸망한다는 사실은 뻥이다.

In [20]:
class Service:
    secret = "지구는 4006년에 멸망한다."
    def sum(self, a, b):
        result = a+b
        print("%s + %s = %s 이다." % (a, b, result))

In [21]:
an = Service()
an.sum(1,1)

1 + 1 = 2 이다.

In [26]:
class Service:
    secret = "지구는 4006년에 멸망한다."
    def setname(self, name):
        self.name = name
    def sum(self, a, b):
        result = a+b
        print("%s님, %s + %s = %s 입니다." % (self.name, a, b, result))

In [27]:
an = Service()
an.setname("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2 입니다.

In [29]:
kim = Service()
park = Service()
kim.name = "김정보"
park.name = "박융합"

print(kim.name)
print(park.name)

김정보
박융합

In [30]:
kim.secret = "비밀은 없다"
print(park.secret)

지구는 4006년에 멸망한다.

In [31]:
print(kim.secret)

비밀은 없다

In [32]:
Service.secret

'지구는 4006년에 멸망한다.'

In [33]:
lee = Service()
lee.sum(1,1)

AttributeError: 'Service' object has no attribute 'name'

In [34]:
class Service:
    secret = "지구는 4006년에 멸망한다"

    def __init__(self, name):
        self.name = name
    def sum(self, a, b):
        result = a+b
        print("%s님, %s + %s = %s 입니다." % (self.name, a, b, result))

In [35]:
an = Service("박달도사")
an.sum(1,1)

박달도사님, 1 + 1 = 2 입니다.

In [36]:
class FourCal:
    pass

a = FourCal()
type(a)

__main__.FourCal

In [37]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second

a = FourCal()
a.setdata(4,2)

In [38]:
print(a.first)
print(a.second)

4
2

In [39]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result

a = FourCal()
a.setdata(4,2)

print(a.sum())

6

In [40]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def sum(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [41]:
a = FourCal()
b = FourCal()

a.setdata(4,2)
b.setdata(3,7)

In [42]:
a.sum()

6

In [43]:
a.mul()

8

In [44]:
a.sub()

2

In [45]:
a.div()

2.0

In [46]:
b.sub()

-4

In [53]:
import random

player1_dice = []
player2_dice = []

for i in range(3):
    player1_dice.append(random.randint(1,6))
    player2_dice.append(random.randint(1,6))

print("Player 1 rolled" + str(player1_dice))
print("Player 2 rolled" + str(player2_dice))

if sum(player1_dice) == sum(player2_dice):
    print("Draw")
elif sum(player1_dice) > sum(player2_dice):
    print("Player 1 wins")
else:
    print("Player 2 wins")

Player 1 rolled[5, 5, 3]
Player 2 rolled[4, 3, 6]
Draw

In [57]:
from random import randint

class Player:
    def __init__(self):
        self.dice = []

    def roll(self):
        self.dice = []
        for i in range(3):
            self.dice.append(randint(1,6))

    def get_dice(self):
        return self.dice

player1 = Player()
player2 = Player()

player1.roll()
player2.roll()

print("Player 1 rolled " + str(player1.get_dice()))
print("Player 2 rolled " + str(player2.get_dice()))

if sum(player1.get_dice()) == sum(player2.get_dice()):
    print("Draw")
elif sum(player1.get_dice()) > sum(player2.get_dice()):
    print("Player 1 wins")
else:
    print("Player 2 wins")

Player 1 rolled [4, 4, 2]
Player 2 rolled [6, 5, 1]
Player 2 wins

In [62]:
class Customer(object):
    def __init__(self, name):
        self.name = name

    def set_balance(self, balance=0.0):
        self.balance = balance

    def withdraw(self, amount):
        if amount > self.balance:
            raise RuntimeError("Amount greater than available balance.")
        self.balance -= amount
        return self.balance

    def deposit(self, amount):
        self.balance += amount
        return self.balance

customer1 = Customer("정상훈")
customer1.set_balance(1000)
customer1.withdraw(50)

950

In [63]:
customer1.withdraw(500)

450

In [64]:
customer1.deposit(1500)

1950