<a href="https://colab.research.google.com/github/jsh-lab/python_programming/blob/main/9%EC%A3%BC%EC%B0%A8_functions_%EC%A0%95%EC%83%81%ED%9B%88(2024186854).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
number_list = []
number_list.append(1)
number_list.append(2)
number_list.append(3)
number_list.append(4)
number_list.append(5)

number_list

[1, 2, 3, 4, 5]

In [13]:
number_list = []
for number in range(1,6):
    number_list.append(number)

number_list

[1, 2, 3, 4, 5]

In [14]:
number_list = list(range(1,6))

number_list

[1, 2, 3, 4, 5]

In [15]:
number_list = [number for number in range(1,6)]

number_list

[1, 2, 3, 4, 5]

In [16]:
number_list = [number - 1 for number in range(1,6)]

number_list

[0, 1, 2, 3, 4]

In [17]:
a_list = [number for number in range(1,6) if number % 2 == 1]

a_list

[1, 3, 5]

In [18]:
a_list = []
for number in range(1,6):
    if number%2 == 1:
        a_list.append(number)

a_list

[1, 3, 5]

In [19]:
sentence = ['I', 'Love', 'Python', 'Soooooo', 'MUCH!!!']

In [24]:
[word.lower() for word in sentence]

['i', 'love', 'python', 'soooooo', 'much!!!']

In [25]:
[word for word in sentence if len(word) > 6]

['Soooooo', 'MUCH!!!']

In [22]:
[(x, x**2, x**3) for x in range(10)]

[(0, 0, 0),
 (1, 1, 1),
 (2, 4, 8),
 (3, 9, 27),
 (4, 16, 64),
 (5, 25, 125),
 (6, 36, 216),
 (7, 49, 343),
 (8, 64, 512),
 (9, 81, 729)]

In [26]:
rows = range(1,4)
cols = range(1,3)
for row in rows:
    for col in cols:
        print(row, col)

1 1
1 2
2 1
2 2
3 1
3 2

In [27]:
rows = range(1,4)
cols = range(1,3)
cells = [(row, col) for row in rows for col in cols]
for cell in cells:
    print(cell)

(1, 1)
(1, 2)
(2, 1)
(2, 2)
(3, 1)
(3, 2)

In [28]:
[(i,j) for i in range(5) for j in range(i)]

[(1, 0),
 (2, 0),
 (2, 1),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3)]

In [33]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in word}

letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [35]:
word = 'letters'
letter_counts = {letter: word.count(letter) for letter in set(word)}

letter_counts

{'l': 1, 'r': 1, 't': 2, 'e': 2, 's': 1}

In [36]:
a_set = {number for number in range(1,6) if number % 3 == 1}

a_set

{1, 4}

In [38]:
def sum(a,b):
    return a+b

In [39]:
sum(1,2)

3

In [40]:
sum(1.3, 3.1)

4.4

In [42]:
sum('love ', 'python')

'love python'

In [46]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'orange', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']

for day, fruits, drinks, dessert in zip(days, fruits, drinks, desserts):
    print(day, ": drink", drinks, "- eat", fruits, "- enjoy", dessert)

Monday : drink coffee - eat banana - enjoy tiramisu
Tuesday : drink tea - eat orange - enjoy ice cream
Wednesday : drink beer - eat peach - enjoy pie

In [48]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'
list( zip(english, french) )
# [('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [49]:
dict( zip(english, french) )
# {'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [50]:
def menu(wine, entree, dessert):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

menu('chardonnay', 'chicken', 'cake')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'cake'}

In [51]:
menu(entree='beef', dessert='bagel', wine='bordeaux')

{'wine': 'bordeaux', 'entree': 'beef', 'dessert': 'bagel'}

In [57]:
menu('frontenac', dessert='flan', entree='fish')

{'wine': 'frontenac', 'entree': 'fish', 'dessert': 'flan'}

In [58]:
def menu(wine, entree, dessert='pudding'):
    return {'wine': wine, 'entree': entree, 'dessert': dessert}

In [59]:
menu('chardonnay', 'chicken')

{'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [60]:
menu('dunkelfelder', 'duck', 'doughnut')

{'wine': 'dunkelfelder', 'entree': 'duck', 'dessert': 'doughnut'}

In [62]:
def menu(price, wine='chardonnay', entree='chicken', dessert='pudding'):
    return {'price': price, 'wine': wine, 'entree': entree, 'dessert': dessert}

In [63]:
menu(100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [64]:
menu(price=100)

{'price': 100, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'pudding'}

In [65]:
menu(price=120, entree='beef')

{'price': 120, 'wine': 'chardonnay', 'entree': 'beef', 'dessert': 'pudding'}

In [66]:
menu(dessert='bagel', price=110)

{'price': 110, 'wine': 'chardonnay', 'entree': 'chicken', 'dessert': 'bagel'}

In [67]:
menu('eighty', 'saint-pierre', 'fish')

{'price': 'eighty',
 'wine': 'saint-pierre',
 'entree': 'fish',
 'dessert': 'pudding'}

In [68]:
menu('hundred', wine='saint-pierre')

{'price': 'hundred',
 'wine': 'saint-pierre',
 'entree': 'chicken',
 'dessert': 'pudding'}

In [69]:
menu()

TypeError: menu() missing 1 required positional argument: 'price'

In [70]:
menu(price=100, 'saint-pierre')

SyntaxError: positional argument follows keyword argument (<ipython-input-70-d9383bc1bf99>, line 1)

In [71]:
menu(100, price=120)

TypeError: menu() got multiple values for argument 'price'

In [72]:
menu(main='cream pasta')

TypeError: menu() got an unexpected keyword argument 'main'

In [73]:
def echo(anything):
    'echo returns its input argment'
    return anything

def print_if_true(thing, check):
    """
    Prints the first argument if a second argument is true.
    The operation is:
        1. Check whether the *second* argument is true.
        2. If it is, print the *first* argument.
    """
    if check:
        print(thing)

In [74]:
help(echo)

Help on function echo in module __main__:

echo(anything)
    echo returns its input argment

In [75]:
print(echo.__doc__)

echo returns its input argment